<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SNET Voting UI</title>
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <section class="hero is-small is-primary">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-8-desktop is-offset-2-desktop">
            <h1 class="title is-2 is-spaced">
              SingularityNET Vote
            </h1>
            <h2 class="subtitle is-4">
            </h2>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section" id="app">
    <div class="container">
      <div class="columns">
        <div class="column is-8-desktop is-offset-2-desktop">
          <div class="content">
            <h3>Your Vote</h3>
            <br />
            <div v-if="votes.length">
              <ol>
                <li v-for="vote in votes">
                  {{ vote }}
                </li>
              </ol>
              <button class="button" :disabled="!voteComplete">
                <span class="icon">
                  ✍️
                </span>
                <span>SIGN & CONFIRM</span>
              </button>
            </div>
            <p v-else>
              You have not voted yet. The candidates you vote for will appear here.
            </p>
            <h3>Candidates</h3>
            <br />
            <ol style="list-style-type: none">
              <li v-for="candidate in candidates">
                <article class="media">
                  <figure class="media-left">
                    <p class="image is-64x64">
                      <img src="https://versions.bulma.io/0.5.0/images/placeholders/128x128.png">
                    </p>
                  </figure>
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong>{{candidate.fullName}}</strong>
                        <br>
                        {{candidate.description}}
                      </p>
                    </div>
                  </div>
                  <div class="media-right">
                    <button class="button" :disabled="voteComplete" v-on:click="onAddCandidate(candidate)">
                      <span class="icon">
                        🗳
                      </span>
                      <span>VOTE</span>
                    </button>
                  </div>
                </article>
              </li>
            </ol>
          </div>

          <div class="content">
            <p>
              If you want to <strong>learn more</strong>, follow these links:
            </p>
          </div>
          <div class="field is-grouped">
            <p class="control">
              <a class="button is-medium is-primary" href="http://SingularityNET.io">
                <strong class="has-text-weight-semibold">SingularityNET homepage</strong>
              </a>
            </p>
            <p class="control">
              <a class="button is-medium is-link">
                <strong class="has-text-weight-semibold">FAQ</strong>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer has-text-centered">
    <div class="container">
      <div class="columns">
        <div class="column is-8-desktop is-offset-2-desktop">
          <p>
            <strong class="has-text-weight-semibold">
              <a href="https://SingularityNET.io">© SingularityNET Foundation</a>
            </strong>
          </p>
        </div>
      </div>
    </div>
  </footer>
  <script type="text/javascript" src="js/main.js"></script>
</body>

</html>