@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/

@import "../../node_modules/bulma/sass/utilities/initial-variables";

//Fonts
@import url("https://fonts.googleapis.com/css?family=Montserrat");

//Branding
$purple-dark: #220d3a;
$purple-light: #4267b6;
// #4267b6

// Hero section background image
.has-bg-img {
  background: url("../images/header.png") center center;
  background-size: cover;
}

// Update Bulma's global variables
$family-sans-serif: "Montserrat", Helvetica, sans-serif;
$primary: $purple-dark;
$link: $purple-light;
$info: $purple-light;

// Navigation Bar
$navbar-height: 4.375rem;
$navbar-item-img-max-height: 3rem;

@import "../../node_modules/bulma/bulma";

.proposal {
  .card {
    margin: 10px 0;
    cursor: pointer;
  }
  ul {
    list-style: none;
    margin: 0;
  }
}

.pointer {
  cursor: pointer;
}

.media-content .content {
  line-height: 50px;
}

.footer {
  background-color: #211d24;
  text-align: left;

  a {
    display: block;
    opacity: 0.6;
    color: #fff;
    font-size: 14px;
    &:hover {
      opacity: 1;
    }
  }

  .common-links {
    a {
      margin: 3px 0;
    }
    .column {
      margin-top: 20px;
      text-align: left;
    }
    .logo-block {
      border-right: 1px solid;
      padding-top: 0px;
      text-align: right;
    }
  }

  .copyright-block {
    border-top: 1px solid;
    margin-top: 3px;
    padding: 0 0.75rem;
  }

  .logo-links {
    display: inline-block;
    text-align: right;
    a {
      display: block;
      text-align: right;
    }
  }

  p {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
  }
  .copyright p {
    opacity: 0.6;
    color: #fff;
    font-size: 14px;
    text-align: left;
  }

  .social-links {
    display: inline-block;
    text-align: right;
    a {
      display: inline-block;
      margin-left: 15px;
      font-size: 30px;
    }
  }
}

.text-right {
  text-align: right;
}

.mt-abc {
  margin-top: 200px;
}
